Repository imprevo/mygamelist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, stylelint --fix

add game list
  src/components/Card.astro
  src/components/GameList.astro
  src/components/Statistics.astro
  src/layouts/Layout.astro
  src/models/game.ts
  src/models/statistics.ts
  src/pages/games/[slug].astro
  src/pages/games/index.astro
  src/pages/index.astro
  src/services/games.ts
  src/services/statistics.ts
Due: prettier --write, eslint --cache --fix

add game editions
  src/components/GameList.astro
  src/models/game.ts
  src/services/games.ts
  src/services/statistics.ts
  src/utils/game.ts
Due: prettier --write, eslint --cache --fix

add game view
  src/components/GameEditions.astro
  src/components/GameList.astro
  src/components/Statistics.astro
  src/pages/games/[slug].astro
Due: none

upgrade dependencies
  .prettierrc
  .stylelintrc
  package-lock.json
  package.json
Due: prettier --write

add game header
  src/components/GameHeader.astro
  src/models/game.ts
  src/pages/games/[slug].astro
  src/services/games.ts
  src/services/statistics.ts
  src/utils/game.ts
Due: prettier --write, eslint --cache --fix

add game covers
  src/components/GameCard.astro
  src/components/GameList.astro
  src/layouts/Layout.astro
  src/models/game.ts
  src/services/games.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (((any of: *.{js,cjs,mjs,ts}) or (any of: *.{css})) or (any of: *.{astro})) or (any of: *.{md,json})
  eslint --cache --fix: (any of: *.{js,cjs,mjs,ts}) or (any of: *.{astro})
  stylelint --fix: (any of: *.{css}) or (any of: *.{astro})
